.login__background {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999999;
}
  
.box {
    width: 600px;
    height: 650px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
}
  
.closeButton {
    position: absolute;
    top: 160px;
    left: 630px;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1;
    color:black;
  }

  .twitter__Icon {
    position: absolute;
    color: var(--twitter-color);
    font-size: 35px !important;
    top: 165px;
}

.Text {
    position: absolute;
    padding-bottom: 450px;
}

.google__signin {
    
}