.box {
    position: relative;
    width: 600px;
    height: 650px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    border: none;
    cursor: not-allowed;
    z-index: 1;
    color: black;
  }
  
  .login__background {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999999;
  }
  
  .text {
    display: flex;
    margin-bottom: 50px;
  }
  
  .or__text {
    margin: 20px 50px;
  }
  
  .apple__button,
  .email__button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    font-size: 12px;
    border: 1px solid lightgrey;
    cursor: not-allowed;
  }

  .google__button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    font-size: 12px;
    border: 1px solid lightgrey;
    cursor: pointer;
  }
  
  .google__button {
    padding: 10px 50px;
    margin-bottom: 20px;
    background-color: white;
  }
  
  .google__button img {
    margin-right: 5px;
    height: 20px;
    width: 20px;
    border-width: 2px 1px 3px 1px;
  }
  
  .apple__button,
  .email__button {
    font-size: 12px;
    font-weight: bold;
    background-color: white;
  }
  
  .apple__button {
    padding: 10px 52px;
    cursor: not-allowed;
  }
  
  .email__button {
    padding: 14px 29px;
    cursor: not-allowed;
    background-color: var(--twitter-color);
    font-size: 14px;
    color: white;
  }
  
  .twitter__Icon {
    position: absolute;
    color: var(--twitter-color);
    font-size: 35px !important;
    top: 30px;
  }
  
  .apple__button img {
    width: 19px;
    height: 19px;
    margin-right: 5px;
    border-width: 2px;
  }


  