.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
  width: 580px;
}

.post__body {
  padding: 10px;
}

.post__body > img {
  border-radius: 20px;
}

.post__footer {
  display: flex;
  align-items: center;
  gap: 110px;
}

.post__footer-icons {
  display: flex;
  gap: 10px;
}

.post__image {
  margin-bottom: 10px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
  white-space: pre-line;
  word-break: break-word;
}

.post__headerText {
  display: flex;
  align-items: center;
}

.post__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.post__badge {
  font-size: 15px !important;
  color: var(--twitter-color);
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__avatar {
  padding: 20px;
}

.comment__Icon:hover {
  color: var(--twitter-color) !important;
  cursor: pointer;
}

.retweet__Icon:hover {
  color: green !important;
  cursor: pointer;
}

.likes__Icon:hover {
  color: red !important; 
  cursor: pointer;
}

.share__Icon:hover {
  color: var(--twitter-color) !important;
  cursor: pointer;
}
